# Python
__pycache__/
*.py[cod]
*$py.class

# PyQt
*.ui

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# PyInstaller
build/
dist/
*.spec

# IDE specific files
.vscode/
.idea/

# Virtual environment
venv/
env/